# Node.js & Vite
node_modules/
dist/
.vite/
.vitepress/
*.log

# Tauri
/src-tauri/target/
/src-tauri/.cargo/
/src-tauri/Cargo.lock
/src-tauri/.tauri-build

# Rust artifacts
**/*.rs.bk
**/*.rlib
**/*.d
**/*.o

# VS Code
.vscode/
*.code-workspace

# OS / IDE
Thumbs.db
.DS_Store
.idea/
*.swp
*.swo

# Environment files
.env
.env.*
*.local

# Git / Debug
.git/
*.bak
*.tmp
*.temp

# Windows-specific
*.exe
*.dll
*.obj
*.pdb
*.lib
*.manifest
.pnpm-debug.log
pnpm-lock.yaml
.electron-builder/
